html, body, #visualizer-on-tabs, .visualizer-on-tabs-app, .visualizer-on-tabs-splash {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
}

.visualizer-on-tabs-app {
    display: flex;
    flex-flow: column;
    position: relative;
}

.visualizer-on-tabs-splash {
    position: absolute;
    height: calc(100% - 3px);
    display: flex;
    flex-flow: column;
    background: url(../images/splash.png) no-repeat center center fixed;
    background-size: cover;
    z-index: 1000;
}

.visualizer-on-tabs-login {
    width: 500px;
    margin: auto;
}

.visualizer-on-tabs-login > .form-group {
    display: inline-block;
}

.visualizer-on-tabs-content, .tab-content, .tab-content>.active, .visualizer-on-tabs-splash-bg {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.visualizer-on-tabs-header {
    height: 40px;
}

.visualizer-on-tabs-footer {
    height: 20px;
}

.visualizer-on-tabs-progress {
    width: 250px;
}

.close-tab-glyph {
    font-size: 18px;
    font-weight: bold;
    line-height: 0;
}

.close-tab-glyph:hover {
    color: #FF4136;
}

.nav-tabs>li>a {
    outline: none;
}

.sync-progress-bar {
    background-color: #FF4136;
}
